@font-face {
    font-family: 'Tajawal';
    src: url('../fonts/Tajawal-Regular.ttf') format("truetype"),
         local('Tajawal');
}
/* local */
html, body{
    direction: ltr;
    text-align: left;
}

body{
    font-family: 'Tajawal', sans-serif;
    
}

.bg-secondary{
    background-color: #0C4B33 !important;
    opacity:1;
}

.bg-light{
    background-color: #ccc !important;
   
}

/* end local */

/* Navbar */
.nav-link{
    color: #FFFFFF !important;
}
.nav-link:hover{
    color: #44B085 !important;
}

.dropdown-menu{
    background-color: #44B085;
}
.dropdown-menu .dropdown-item{
    text-align: left;
    color: #FFFFFF;
    
}
.dropdown-menu .dropdown-item:hover{
    background-color: #0C4B33; 
}
/* EndNavbar */
/* clin */

.HSF{
    color: #000;
    border-bottom: #000 solid 2px;
    
}
.CSF:hover{
   background-color: #44B085 !important;
    
}

/* Endclin */
/* News */
#body{
    position: relative;
    display:flex;
    background:url("../images/aerial-shot.jpg") fixed center;
    
}
#body > *{
    position: relative;
    z-index: 2;
}

#body:after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0,.6);    
}

.hdNews{
    border-bottom: #FFFFFF solid 2px;
    color: #FFFFFF;
}
/* EndNews */

/* Start commit */
.comment{
    background-color:#f8f8f8;
    border: 1px dashed #CCC;
}
/* End commit */

/* Start footer */
.fdordr{
    border-color: #8e8989;
}
iframe{
    display: none;
}
.mpdammam{
    display: inherit;
}
/* End footer */