{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container bg-about p-3">
    <img src="{% static 'blog/images/aboutus.webp' %}" class="img-responsive img-fluid " alt="about us">
    <h2 class="border-bottom mt-2">about us</h2>
    <P class="text-justify pabout p-3">
        <span id="fteabout"><b>FTE</b></span> Logistics is a %100 Saudi-owned company that started in 1998 as a small 
        inland transportation establishment which has grown up to become one of the 
        leading providers of heavy haulage and special transportation projects in Middle 
        East with total logistical solutions. The headquarter is in Dammam which helps 
        accommodate the administration office, vehicle workshop and container storage depot. 
        Vehicles are also operated from a base in Jeddah and Riyadh, which caters for the 
        growing levels of internal movements of various types of cargo.
    </P>
    <h2 class="border-bottom">Mission</h2>
    <P class="text-justify pabout p-3">
        To provide a safe and reliable transportation solution along with our installation services keeping in 
        mind customer satisfaction.
    </P>
    <h2 class="border-bottom">Vision</h2>
    <P class="text-justify pabout p-3">
        To offer unique logistic services with the know how in Saudi Arabia matching with the Saudi vision of 2030.
    </P>
    <h2 class="border-bottom">Values</h2>
    <P class="text-justify pabout p-3">
        Our values reflect our thoughts and belief. They recognize our organization culture 
        as team’s player in the organization.
    </P>
    <div class="ml-4">
        <h4 class="hedercolor"><i class="fas fa-shield-alt iconcolor"></i> Safety</h4>
        <p class="pabout">Safety is key priority and non-negotiable term in our scope.</p>
        <h4 class="hedercolor"><i class="fas fa-check-circle iconcolor"></i> Reliability</h4>
        <p class="pabout">We are the strategic and trusted partner that you can always depend on.</p>
        <h4 class="hedercolor"><i class="fas fa-award iconcolor"></i> Excellence</h4> 
        <P class="pabout">We are providing a service with high quality standards matching customer expectations.</P>
        <h4 class="hedercolor"><i class="fas fa-handshake iconcolor"></i> Integrity</h4>
        <P class="pabout">We are always serving our clients honestly with high commitment to business ethics and human moral.</P>
    </div>
    
    
    
</div>


{% endblock content %}