{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container bg-about p-3">
    
    
    <h1 class="border-bottom ">CALL US</h1>
    <h5 class="text-justify  p-3">
            Contact Numbers:
    </h5>
    <ul>
        <li class="pabout">966138577533</li>
        
    </ul>
    <h5 class="text-justify  p-3">
            Communicate By Email:
    </h5>
    <ul>
        <li class="pabout">it@fte.com</li>
        <li class="pabout">fte@fte.com</li>
        
    </ul>
    
    
    
</div>



{% endblock content %}