{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container bg-about p-3 pb-5">
    <h1 class="border-bottom mt-2 pb-2">CUSTOM CLEARANCE</h1>
    <P class="text-justify pabout p-3">
        We work with national customs to offer a tailor made service suiting all 
        clearance regulations and procedures. We provide custom clearance from all 
        port in Saudi Arabia for all our clients and arranging applications for duty, 
        exemption preparation, chemical permits and attestation of documents 
        (such as certificates of origin from chamber of commerce or embassies) and 
        ensuring a smooth process for your shipments throughout the transportation.
        We are also providing customs clearance service at Saudi Arabia borders for the 
        cargo exported or imported from neighboring country.
    </P>
    <b class="text-justify pabout p-3 pb-4">
        Our promise is to develop timely solutions for customs clearance while clearance 
        and delivering goods safely and in good condition.
    </b>
    
    
    
    
</div>


{% endblock content %}