{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container bg-about p-3">
    <div class="border p-3 mb-3">    
        <img src="{{ post.image_post.url }}" class="img-responsive img-fluid " alt="about us">
        <h2 class="test-left mt-3">{{post.title}}</h2>
        <small class="text-secondary text-sm-left text-right "> {{post.author}} published in {{post.post_date|date:'d-m-Y'}}</small>
        <p>{{post.content}}</p>
    </div>
    
    <div class="container bg-about p-2">
        <h3 class="border-bottom pb-3 mb-3 mt-5 text-center">New Request</h3>
        <div class="border p-4 mb-5 mt-3">
            <form method="POST">
                {% csrf_token %} <!-- for security your form -->
                {{comment_form|crispy}}
                <input class="btn btn-secondary btn-lg" type="submit" value="Send request">
            </form>
        </div>
    </div>
</div>

{% endblock content %}