{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container bg-about p-3">
    <h1 class="border-bottom mt-2">EQUTPMENT</h1>

    <h3 class="mt-4">Renting Cranes</h3>
    <p class="text-justify pabout">
        We are able to provide crane rental and equipment leasing services anywhere 
        in Saudi Arabia.
        We also provide the right crane with the right capacity to meet your safety 
        and productivity requirements.
    </p>

    <h3 class="mt-4">Equipment Rental</h3>
    <p class="text-justify pabout">
        We provide a group of heavy equipments for rental with a maintenance support.
    </p>
    
    
    
    
</div>


{% endblock content %}