{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container bg-about pb-2">
    <div class="row p-3">
        <h2 class="border-bottom mt-2">HEAVY_HAULAGE</h2>
        <p class="text-justify pabout p-3">
            <span id="fteabout"><b>FTE</b></span> heavy lift transports heavy haul and 
            over-dimensional loads and is the market leader in the heavy transportation 
            and lifting industry in Saudi Arabia and Middle East. Regardless of the terrain,
            thousands of tonnes of machinery & equipment have been moved by our heavy haulage 
            team since our inception & that number is always growing...
        </p>
    </div>
    <div class="row pl-3 pr-3">
        <div class="col p-0">
            <img src="{% static 'blog/images/slid22.jpg' %}" class="img-responsive img-fluid " alt="about us">
        </div>
        <div class="col p-0">
            <img src="{% static 'blog/images/slid21.jpg' %}" class="img-responsive img-fluid " alt="about us">
        </div>
    </div>
    <div class="row pl-3 pr-3">
        <div class="col p-0">
            <img src="{% static 'blog/images/slid6.jpg' %}" class="img-responsive img-fluid " alt="about us">
        </div>
        <div class="col p-0">
            <img src="{% static 'blog/images/slid20.jpg' %}" class="img-responsive img-fluid " alt="about us">
        </div>
    </div>
    
    
    
    <h5 class="text-justify  p-3">
        We have the capability to ensure the entire operation is taken care of, 
        including the use of escort vehicles and vessels.
        Our core services include:
    </h5>
    <ul>
        <li class="pabout">Heavy and abnormal lifts and load movements</li>
        <li class="pabout">Mobilisation and demobilisation of cranes</li>
        <li class="pabout">Route surveys and site inspections</li>
        <li class="pabout">Container deliveries</li>
        <li class="pabout">Accredited pilot services</li>
        <li class="pabout">Transport engineering</li>
        <li class="pabout">Disassembly and reassembly of equipment when required</li>
        <li class="pabout">Transport for complete pieces of equipment (no disassembly required) for certain kinds of heavy equipment and machinery</li>
        <li class="pabout">Services to, from and within metropolitan and remote areas</li>
    </ul>

    <h5 class="text-justify  p-3">
            Equipment available consists of:
    </h5>
    <ul>
        <li class="pabout">Tri Axle Low Low Loaders</li>
        <li class="pabout">Flat Top Trailers</li>
        <li class="pabout">Pilot Vehicles</li>
    </ul>

    
    
    
</div>


{% endblock content %}