{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container bg-about pb-2">
    <div class="row p-3">
        <h2 class="border-bottom mt-2">JACKING & SKIDDING</h2>
        <p class="text-justify pabout p-3">
            when conventional lifting by cranes is not feasible,FTE have a dedicated 
            team for jacking &skidding in and around Saudi Arabia and varoius ports 
            including Dammam for moving complex and heavy items.The Jacking & Skidding 
            fleet includes for example slide-beams, rollers, jacks, winches, strand-jacks 
            etc special equipments for different needs and project environments.

            With the skills, expertise and equipment at our disposal the FTE can provide 
            the ideal solution for moving heavy industrial objects of exceptional sizes 
            and weights to locations where using a crane or forklift is not an option
        </p>
    </div>
    <div class="row pl-3 pr-3">
        <div class="col p-0">
            <img src="{% static 'blog/images/slid22.jpg' %}" class="img-responsive img-fluid " alt="about us">
        </div>
        <div class="col p-0">
            <img src="{% static 'blog/images/slid21.jpg' %}" class="img-responsive img-fluid " alt="about us">
        </div>
    </div>
    <div class="row pl-3 pr-3">
        <div class="col p-0">
            <img src="{% static 'blog/images/slid6.jpg' %}" class="img-responsive img-fluid " alt="about us">
        </div>
        <div class="col p-0">
            <img src="{% static 'blog/images/slid20.jpg' %}" class="img-responsive img-fluid " alt="about us">
        </div>
    </div>
    
    
    
    <h4 class="text-justify  p-3">
        Transformer service
    </h4>
    <p class="text-justify pabout p-3">
        <span id="fteabout"><b>FTE</b></span> transformer service is a specific part of 
        our turnkey project whereby we take care  of transporting and installing  your 
        machine with our team possesses all the right expertise
    </p>

    

    
    
    
</div>


{% endblock content %}