{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container bg-about p-3">
    
    
    <h1 class="border-bottom ">New Request</h1>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <div class="border p-4 mb-5 mt-3">
        <form method="POST">
            {% csrf_token %} <!-- for security your form -->
            {{comment_form|crispy}}
            <input class="btn btn-secondary" type="submit" value="Send request">
        </form>
    </div>
    
    
</div>



{% endblock content %}