{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container bg-about p-3">
    <div class=" imgpage"></div>
    <h1 class="border-bottom mt-2 pb-2">TRANSPORT</h1>
    <p class="text-justify pabout pl-3 mb-3">
    We are one of the largest trucking companies in the Middle East operating various 
    types trailers. We are specialized in land transportation of containerized and general 
    cargo distribution.
    </p>

    <p class="text-justify pabout pl-3 mb-3">
    Our teams create efficient and economical solutions in analyzing customer requirement 
    to deliver adequate results. customs clearance at all entry ports, handling of project 
    cargo and industrial and personal shipment of any volume or size.
    </p>

    <p class="text-justify pabout pl-3 mb-3">
    FTE Logistics operates its own terminal and warehousing facilities spreading across 
    million square meters of area in Saudi Arabia. we have operating terminal and warehousing 
    facilities in Dammam, Riyadh, Jeddah and Dubai.
    </p>
    
    
    
    
</div>


{% endblock content %}