{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container bg-about p-3">
    <div class=" imgpage"></div>
    <h2 class="border-bottom mt-2">transport</h2>
    <p class="text-justify pabout pl-3 mb-3">
    We are one of the largest trucking companies in the Middle East operating various 
    types trailers. We are specialized in land transportation of containerized and general 
    cargo distribution.
    </p>

    <p class="text-justify pabout pl-3 mb-3">
    Our teams create efficient and economical solutions in analyzing customer requirement 
    to deliver adequate results. customs clearance at all entry ports, handling of project 
    cargo and industrial and personal shipment of any volume or size.
    </p>

    <p class="text-justify pabout pl-3 mb-3">
    FTE Logistics operates its own terminal and warehousing facilities spreading across 
    million square meters of area in Saudi Arabia. we have operating terminal and warehousing 
    facilities in Dammam, Riyadh, Jeddah and Dubai.
    </p>
    
    
    <h2 class="border-bottom">Mission</h2>
    <P class="text-justify pabout p-3">
        To provide a safe and reliable transportation solution along with our installation services keeping in 
        mind customer satisfaction.
    </P>
    <h2 class="border-bottom">Vision</h2>
    <P class="text-justify pabout p-3">
        To offer unique logistic services with the know how in Saudi Arabia matching with the Saudi vision of 2030.
    </P>
    <h2 class="border-bottom">Values</h2>
    <P class="text-justify pabout p-3">
        Our values reflect our thoughts and belief. They recognize our organization culture 
        as team’s player in the organization.
    </P>
    <div class="ml-4">
        <h4 class="hedercolor"><i class="fas fa-shield-alt iconcolor"></i> Safety</h4>
        <p class="pabout">Safety is key priority and non-negotiable term in our scope.</p>
        <h4 class="hedercolor"><i class="fas fa-check-circle iconcolor"></i> Reliability</h4>
        <p class="pabout">We are the strategic and trusted partner that you can always depend on.</p>
        <h4 class="hedercolor"><i class="fas fa-award iconcolor"></i> Excellence</h4> 
        <P class="pabout">We are providing a service with high quality standards matching customer expectations.</P>
        <h4 class="hedercolor"><i class="fas fa-handshake iconcolor"></i> Integrity</h4>
        <P class="pabout">We are always serving our clients honestly with high commitment to business ethics and human moral.</P>
    </div>
    
    
    
</div>


{% endblock content %}