{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container bg-about p-3">
    <img src="{% static 'blog/images/warehouse.jpg' %}" class="img-responsive img-fluid " alt="about us">
    <h1 class="border-bottom mt-2 pb-2">WAREHOUSE</h1>
    <P class="text-justify pabout p-3">
        FTE Logistics have 50,000 square meters of storage facility (our own yard) 
        suitable for all types of cargo in addition to specialized tech team who are 
        fully trained to apply our safety and efficient procedures. We can provide supply 
        chain management salutation including storage inventory management and safety 
        packing and storing transformers, cable drum, generators, containers, break-Bulk, 
        all types of chemical & ISO tanks, metal, pipes and other kinds of cargo. also 
        in case of double handling is required, we provide our storage services to adjust 
        the cargo size.    
    </P>
    <p class="text-justify pabout pl-3">
        On the other hand, we can provide stools and beams for storage services in 
        job-sites until in case of those sites are still not ready.
    </p>
    <p class="text-justify pabout pl-3">
        The Warehouses Center are designed to be able to manage multi clients and wide 
        range of products.
    </p>

    
    
    
    
</div>


{% endblock content %}